* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-bg: #151515;
  --light-bg: #ffffff10;
  --main-text-color: white;
  --theme-color: #cca061;
  --theme-color-hover: #9d7a4a;
}
.theme-color {
  color: var(--theme-color);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--light-bg);
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.146);
}
body {
  background-color: var(--main-bg);
}
.container {
  min-height: 100vh;
  background-color: var(--main-bg);
  padding: 2% 5%;
  color: var(--main-text-color);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  flex: 1;
}
.profile-section {
  background-color: bisque;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.hero-btns {
  display: flex;
  justify-content: start;
  align-items: center;
}
.create-btn,
.upload-btn {
  margin-top: 30px;
  width: 15vw;
  color: var(--theme-color);
  border: 5px solid var(--theme-color);
  padding: 40px 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s all;
  cursor: pointer;
  margin-right: 3%;
}
.create-btn:hover,
.upload-btn:hover {
  transform: scale(0.95);
  background-color: var(--theme-color);
  color: var(--main-bg);
}
.record-text,
.upload-text {
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  text-transform: uppercase;
}
.record-icon,
.upload-icon {
  font-weight: 600;
  font-size: 50px;
}

/* modal */
.record-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 80vh; */
  /* width: 60vw; */
  background-color: var(--main-bg);
  color: var(--main-text-color);
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 8% 12%;
  transition: 0.3s all;
}
.record-modal::backdrop,
.delete-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.505);
}
.record-modal[open] {
  animation: fadein 0.2s ease-out forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.recorder-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.record-btn {
  height: 100px;
  width: 100px;
  background: none;
  background-color: rgb(205, 205, 205);
  font-weight: 600;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: 0 0 0 30px #ff0000;
  /* margin-top: 70px; */
  cursor: pointer;
  transition: 0.3s all;
}
.record-btn:hover {
  transform: scale(0.96);
  /* box-shadow: 0 0 0 30px #b40000; */
}

.recorder-title {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  padding: 20px;
  transition: 0.3s all;
}
.close-modal:hover {
  transform: scale(0.85);
}

.section-title {
  margin: 40px 0 20px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s all;
}
.record {
  width: 100%;
  background-color: var(--light-bg);
  padding: 15px 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  transition: 0.3s all;
}
.record-visible {
  display: flex;
  width: 100%;
}
.record:hover {
  transform: scale(0.993);
}
.record-title {
  flex: 1;
  font-size: 18px;
  transition: 0.2s all;
}
.delete-btn {
  color: red;
  margin-left: 10px;
  transition: 0.3s all;
  cursor: pointer;
}
.delete-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-bg);
  color: var(--main-text-color);
  outline: none;
  border: none;
  padding: 30px;
  border-radius: 3px;
}
.delete-modal[open] {
  animation: fadein 0.2s ease-out forwards;
}
.delete-btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px 0;
}
.cancel-delete,
.delete-final {
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  font-weight: 600;
  transition: 0.2s all;
  cursor: pointer;
}
.cancel-delete:hover,
.delete-final:hover {
  transform: scale(0.96);
}
.delete-final {
  margin-left: 10px;
  background-color: red;
  color: var(--main-text-color);
}
.edit-btn {
  transition: 0.3s all;
  cursor: pointer;
}
.delete-btn:hover,
.edit-btn:hover {
  transform: scale(0.9);
}
.separator {
  margin: 0 10px;
  color: grey;
}
.dropdown-btn {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s all;
}
.record-info {
  margin-top: 0;
  transition: 0.5s all;
  height: 0;
  overflow: hidden;
  /* display: none; */
  /* animation: fade-in 1s; */
}

/* for animations */
.hide-section {
  opacity: 0;
  transform: translateY(100px);
}
.show-section {
  opacity: 1;
  transform: translate(0);
}
.show-record-info {
  margin-top: 20px;
  height: initial;
}
.rotate {
  transform: rotate(180deg);
}
.bigger-font {
  font-size: 30px;
}
