* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
:root {
  --main-bg: #151515;
  --main-text-color: white;
  --theme-color: #cca061;
}
.container {
  height: 100vh;
  display: flex;
  background-color: var(--main-bg);
}
.image-section {
  /* width: 100%; */
  background-color: aquamarine;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/login-image-compressed.jpg);
  background-position: center;
  background-size: cover;
  color: var(--main-text-color);
  transition: 0.3s all;
}
.heading-text {
  font-size: 80px;
  font-weight: 600;
  cursor: pointer;
}
.sub-text {
  font-size: 20px;
  margin-top: -20px;
  cursor: pointer;
}
.login-section {
  background-color: var(--main-bg);
  color: var(--main-text-color);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s all;
}
.login-wrap {
  width: 60%;
}

/* for animations */
.hide-section {
  transform: translateX(300px);
  width: 0;
}
.show-section {
  transform: translate(0);
  width: 40%;
}

.login-text {
  text-align: start;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
  color: var(--theme-color);
  text-transform: uppercase;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-field {
  margin-bottom: 15px;
  background: none;
  color: var(--main-text-color);
  border: none;
  border-bottom: 2px solid var(--theme-color);
  font-size: 18px;
  padding: 5px 0;
}
input:focus {
  outline: none;
}
.signin-btn {
  background: none;
  background-color: var(--theme-color);
  color: var(--main-bg);
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.3s all;
}
.signin-btn:hover {
  transform: scale(0.95);
}
.signup-text {
  margin-top: 15px;
}
.signup-redirect {
  color: var(--theme-color);
  text-decoration: none;
  margin-left: 10px;
}
