* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
:root {
  --main-bg: #151515;
  --main-text-color: white;
  --theme-color: #cca061;
}
.container {
  height: 100vh;
  display: flex;
  background-color: var(--main-bg);
}
.image-section {
  /* width: 100%; */
  background-color: aquamarine;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/login-image-compressed.jpg);
  background-position: center;
  background-size: cover;
  color: var(--main-text-color);
  transition: 0.3s all;
}
.heading-text {
  font-size: 80px;
  font-weight: 600;
  cursor: pointer;
}
.sub-text {
  font-size: 20px;
  margin-top: -20px;
  cursor: pointer;
}
.login-section {
  background-color: var(--main-bg);
  color: var(--main-text-color);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s all ease-out;
}
.login-wrap {
  width: 60%;
}

/* for animations */
.hide-section {
  transform: translateX(300px);
  width: 0;
}
.show-section {
  transform: translate(0);
  width: 40%;
}

.login-text {
  text-align: start;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
  /* color: var(--theme-color); */
  text-transform: uppercase;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-field {
  margin-bottom: 15px;
  background: none;
  color: var(--main-text-color);
  border: none;
  /* border-bottom: 2px solid var(--theme-color); */
  border-bottom: 2px solid grey;
  font-size: 18px;
  padding: 5px 5px;
}
input:focus {
  outline: none;
  background: none;
}
.signin-btn {
  background: none;
  color: var(--theme-color);
  border: 3px solid var(--theme-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  margin-top: 25px;
  cursor: pointer;
  transition: 0.3s all;
}
.signin-btn:hover {
  transform: scale(0.97);
  background-color: var(--theme-color);
  color: var(--main-bg);
}
.signup-text {
  margin-top: 15px;
}
.signup-redirect {
  color: var(--theme-color);
  text-decoration: none;
  margin-left: 10px;
}
@media only screen and (max-width: 1100px) {
  .container{
    flex-direction: column;
    min-height: 100vh;
  }
  .login-section{
    width: 100%;
  }
  .login-wrap{
    padding: 10% 0;
    width: 40%;
  }
  .heading-text{
    font-size: 60px;
  }
  .sub-text{
    font-size: 18px;
  }
  .login-text{
    font-size: 25px;
  }
  .input-field{
    font-size: 16px;
  }
  .signin-btn{
    font-size: 14px;
  }
  .singnup-text{
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .login-wrap{
    width: 70%;
  }

}